# Android
*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.apk
*.aab
*.ap_

# Módulo app
app/build/

# Google Services
google-services.json

# Keystore
*.jks
*.keystore

# Kotlin
*.class

# Gradle
.gradle/
!gradle/wrapper/gradle-wrapper.jar

# Logs
*.log

# IDEs
*.swp
*.swo
.vscode/

# MacOS
__MACOSX/

# Generados por el compilador
/out/

# Firebase Functions
functions/node_modules/
functions/.env
functions/.env.local
functions/.runtimeconfig.json

# Firebase CLI
.firebase/
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log

.env
env
venv
.venv

# Firebase
.firebaserc
firebase-debug.log

# Android local
local.properties

# Skills (Claude)
skills-lock.json